{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load static %}
{% block content %}

<div class="page-title">
	<div class="container">
		<h2>Civil Engineering</h2>
		<div class="breadcrumb">
			<ul class="breadcrumb">
				<!-- Breadcrumb NavXT 7.2.0 -->
				<span property="itemListElement" typeof="ListItem"><i class="fa fa-home"></i><a property="item"
						typeof="WebPage" title="Go to TKM Institute of Management." href="{%  url 'web:index' %}"
						class="home"><span property="name">Home</span></a>
					<meta property="position" content="1">
				</span><i class="fa fa-angle-right"></i><span property="itemListElement" typeof="ListItem"><span
						property="name">Departments</span>
					<meta property="position" content="2">
				</span>
			</ul>
		</div>
	</div>
</div>

<div class="main-content">
	<div class="container cu-cont">

        <section class="container-fluid section">
            <div class="container">
                <div class="row align-items-center">
                    
                    <div class="col-12">
                        <h2 class="heading1">Civil Engineering</h2>
                        <p>Civil engineering is perhaps one of the oldest branches of engineering and primarily deals with the design, construction, and maintenance of the physical and naturally built environment. Advances in this area have brought many specializations like Structural engineering, Geotechnical engineering, Water Resources &amp; Hydraulics engineering, Transportation engineering, Urban engineering, Materials engineering. The students normally have a conceptual understanding of space and its utilization. The focus of the program is in developing fluency in mathematics, physics, instrumentation, computers, management and economics. Civil engineers focus on design, construction and maintenance of structures.</p>
                    </div>
                    
                    <div class="col-12">
                        <h3 class="heading3">Educational objective of the department</h3>
                        <p>The aim of the course is to mould Civil Engineers with excellent knowledge, ability to appropriate technology, innovative ideas and leadership qualities, who can immensely contribute to industry and research for nation building.</p>
                    </div>
                    
                    <div class="col-12">
                        <h3 class="tablehead">Faculty</h3>
                            <div id="placed" class="owl-carousel owl-theme owl-loaded owl-drag">
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/dhanya-m-s.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Dhanya</h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech</label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/lekshmi-p-nair.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Lekshmi P Nair</h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Geo Technical Engineering) </label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/syam-mohan-m.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Syam Mohan M</h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Computer aided Structural Engineering) </label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/fathima-fasil.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Fathima Fasil </h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Geo Technical Engineering) </label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/nimmi-benjamin.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Nimmi Benjamin </h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Structural Engineering and Construction Management) </label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/devika-s.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Devika S </h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Transportation Engineering) </label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/somiya-s-p.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Somiya S P </h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Hydraulics) </label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/raji-sl.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Raji S L</h2>
                                    <p>Asso. Professor &amp; HOD</p>
                                    <label class="greenfont">M.E (Construction Engg &amp; Management)</label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/al-arafa.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Al Arafa.S</h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.E (Construction Engg &amp; Management)</label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/shelji-s-shihab.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Shelji S Shihab.T</h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Construction Engineering and Management)</label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/mubeera-k-p.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Mubeera KP</h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Geo Technical Engineering)</label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/muhammed-rashid-a-t.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Muhammed Rashid</h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Structural Engineering) </label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/geena-g-s.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Geena G S</h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech</label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/dummy.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Gayathri Devi</h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech</label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/dhanya-m-s.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Dhanya</h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech</label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/lekshmi-p-nair.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Lekshmi P Nair</h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Geo Technical Engineering) </label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/syam-mohan-m.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Syam Mohan M</h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Computer aided Structural Engineering) </label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/fathima-fasil.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Fathima Fasil </h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Geo Technical Engineering) </label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/nimmi-benjamin.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Nimmi Benjamin </h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Structural Engineering and Construction Management) </label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/devika-s.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Devika S </h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Transportation Engineering) </label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/somiya-s-p.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Somiya S P </h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Hydraulics) </label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/raji-sl.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Raji S L</h2>
                                    <p>Asso. Professor &amp; HOD</p>
                                    <label class="greenfont">M.E (Construction Engg &amp; Management)</label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/al-arafa.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Al Arafa.S</h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.E (Construction Engg &amp; Management)</label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/shelji-s-shihab.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Shelji S Shihab.T</h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Construction Engineering and Management)</label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/mubeera-k-p.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Mubeera KP</h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Geo Technical Engineering)</label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/muhammed-rashid-a-t.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Muhammed Rashid</h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Structural Engineering) </label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/geena-g-s.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Geena G S</h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech</label>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                    <img src="{% static 'images/dummy.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Gayathri Devi</h2>
                                    <p>Asst. Professor</p>
                                    <label class="greenfont">M.Tech</label>
                                </div>
                            </div>
                    </div>
                    <div class="col-12">
                        <h3 class="tablehead">Technical Staff</h3>
                           
                            <div id="placed2" class="owl-carousel owl-theme owl-loaded owl-drag">
                                
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/dummy.jpg' %}" alt="">
                                    </div>
                                    
                                    <h2 class="heading3">Sandhya C Nair</h2>
                                    <p>B.E Civil Engineering (Lab Instructor)</p>
                                    <!--<label class="greenfont">M.Tech</label>-->
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/dummy.jpg' %}" alt="">
                                    </div>
                                    
                                    <h2 class="heading3">Arun S</h2>
                                    <p>ITI Draughts man Civil (Lab Instructor) </p>
                                    <!--<label class="greenfont">M.Tech</label>-->
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/dummy.jpg' %}" alt="">
                                    </div>
                                    
                                    <h2 class="heading3">Sukumaran Nair</h2>
                                    <p>ITI Diploma (Lab Instructor) </p>
                                    <!--<label class="greenfont">M.Tech</label>-->
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/dummy.jpg' %}" alt="">
                                    </div>
                                    
                                    <h2 class="heading3">Sandhya C Nair</h2>
                                    <p>B.E Civil Engineering (Lab Instructor)</p>
                                    <!--<label class="greenfont">M.Tech</label>-->
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/dummy.jpg' %}" alt="">
                                    </div>
                                    
                                    <h2 class="heading3">Arun S</h2>
                                    <p>ITI Draughts man Civil (Lab Instructor) </p>
                                    <!--<label class="greenfont">M.Tech</label>-->
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/dummy.jpg' %}" alt="">
                                    </div>
                                    
                                    <h2 class="heading3">Sukumaran Nair</h2>
                                    <p>ITI Diploma (Lab Instructor) </p>
                                    <!--<label class="greenfont">M.Tech</label>-->
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/dummy.jpg' %}" alt="">
                                    </div>
                                    
                                    <h2 class="heading3">Sandhya C Nair</h2>
                                    <p>B.E Civil Engineering (Lab Instructor)</p>
                                    <!--<label class="greenfont">M.Tech</label>-->
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/dummy.jpg' %}" alt="">
                                    </div>
                                    
                                    <h2 class="heading3">Arun S</h2>
                                    <p>ITI Draughts man Civil (Lab Instructor) </p>
                                    <!--<label class="greenfont">M.Tech</label>-->
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/dummy.jpg' %}" alt="">
                                    </div>
                                    
                                    <h2 class="heading3">Sukumaran Nair</h2>
                                    <p>ITI Diploma (Lab Instructor) </p>
                                    <!--<label class="greenfont">M.Tech</label>-->
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/dummy.jpg' %}" alt="">
                                    </div>
                                    
                                    <h2 class="heading3">Sandhya C Nair</h2>
                                    <p>B.E Civil Engineering (Lab Instructor)</p>
                                    <!--<label class="greenfont">M.Tech</label>-->
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/dummy.jpg' %}" alt="">
                                    </div>
                                    
                                    <h2 class="heading3">Arun S</h2>
                                    <p>ITI Draughts man Civil (Lab Instructor) </p>
                                    <!--<label class="greenfont">M.Tech</label>-->
                                </div>
                            </div>
                    </div>
                    
                    
                    <div class="col-12">
                        <h3 class="tablehead">Facilities</h3>
                        <p>Labs with modern machineries make this course useful for students in becoming   good civil engineers.</p>
                        
                        <h2 class="heading3">Environmental Lab</h2>
                        <p>The lab is equipped with various facilities which determine the quality tests for water samples. Mainly DO, BOD, PH tests are carried out.</p>
                        
                        <h2 class="heading3">Transportation Engineering Lab</h2>
                        <p>Design of Highway systems, Railway systems, Airport runways etc needs the properties of materials such as bitumen, aggregate, etc used for construction. In this lab the various tests like impact test, aggregate crushing value test, abrasion test etc are carried out.</p>
                        
                        <h2 class="heading3">Strength of Material Lab</h2>
                        <p>Strength of materials is one of the important subjects in Civil engineering. In this lab, students will get the opportunity to apply load to various materials under different equilibrium conditions.</p>
                        
                        <h2 class="heading3">Surveying Lab</h2>
                        <p>The lab is equipped with various instruments and tools with which we can analyze the topography of an area. Theodolite, plane table, dumpy level, total station etc are the common instruments that we use in this lab.</p>
                        
                        <h2 class="heading3">Geotechnical Engineering Lab</h2>
                        <p>In geotechnical engineering lab, we learn to be nearer to nature. Here various tests are conducted to identify the soil and its various properties.</p>
                        
                        <h2 class="heading3">Computer Aided Design &amp; Drafting Lab</h2>
                        <p>Computer softwares are used in all disciplines for various applications. Likewise,  in Civil engg. field, Auto CAD can be used for many applications like surveying, analysis, design, quantity calculations and costing.</p>
                        
                    </div>
                    
                </div>
            </div>
        </section>
		<!-- /wp:columns -->

		<!-- wp:buttons -->
		<div class="wp-block-buttons"></div>
		<!-- /wp:buttons -->
	</div>
</div>

{% endblock %}