{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load static %}
{% block content %}

<div class="page-title">
    <div class="container">
        <h2>Electronics and Communication Engineering</h2>
        <div class="breadcrumb">
            <ul class="breadcrumb">
                <!-- Breadcrumb NavXT 7.2.0 -->
                <span property="itemListElement" typeof="ListItem"><i class="fa fa-home"></i><a property="item"
                        typeof="WebPage" title="Go to TKM Institute of Management." href="{%  url 'web:index' %}"
                        class="home"><span property="name">Home</span></a>
                    <meta property="position" content="1">
                </span><i class="fa fa-angle-right"></i><span property="itemListElement" typeof="ListItem"><span
                        property="name">Departments</span>
                    <meta property="position" content="2">
                </span>
            </ul>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="container cu-cont">

        <section class="container-fluid section">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-12">
                        <h2 class="heading1">Electronics and Communication Engineering</h2>
                        <p>The department offers UG and PG Courses which are designed to give students both theoretical
                            and practical knowledge in all frontier areas of Electronics and Communication.The
                            department has been conducting M Tech course in Microwave &amp; TV Engineering (2 Years)
                            since 2011 onwards.
                            The curriculum of B.Tech - Electronics and Communication is designed to give adequate
                            emphasis on the Analog and Digital processing of information for efficient communication.
                            The core program is supplemented and further reinforced by a well-chosen set of elective
                            courses permitting the students to specialize either in the software or the hardware aspect
                            of Communication. The Department of Electronics and Communication, started in the year 2002,
                            aims to educate students from different cultural, social, economic and geographical
                            locations, so that they become enlightened individuals, improving the living standards of
                            their families, industry and society by providing individual attention. The department of
                            ECE shares the mission and vision of the institute in imparting quality education to the
                            students. First, it is ensured that the students perceive the electronic fundamentals
                            thoroughly. Then, while fulfilling the requirements of the syllabus prescribed by the
                            University, the course goes much further and offers students the opportunity to work on
                            diverse hardware and software platforms. Students are encouraged to join professional
                            society with a view to improving communication skills and technical knowledge. The
                            curriculum of B.Tech - Electronics and Communication is designed to give adequate emphasis
                            on the Analog and Digital processing of information for efficient communication. The core
                            program is supplemented and further reinforced by a well-chosen set of elective courses
                            permitting the students to specialize either in the software or the hardware aspect of
                            Communication. The Department of Electronics and Communication, started in the year 2002,
                            aims to educate students from different cultural, social, economic and geographical
                            locations, so that they become enlightened individuals, improving the living standards of
                            their families, industry and society by providing individual attention. The department of
                            ECE shares the mission and vision of the institute in imparting quality education to the
                            students. First, it is ensured that the students perceive the electronic fundamentals
                            thoroughly. Then, while fulfilling the requirements of the syllabus prescribed by the
                            University, the course goes much further and offers students the opportunity to work on
                            diverse hardware and software platforms. Students are encouraged to join professional
                            society with a view to improving communication skills and technical knowledge.</p>
                    </div>

                    <div class="col-12">
                        <h3 class="heading3">Educational objective of the department</h3>
                        <p>The curriculum of Electronics and Communication Engineering Department at MACE is intensive,
                            contribute hands on to give students a holistic view of the ever developing and innovative
                            field of Electronics. One of our prime objectives is to explore subjects critical to
                            advancement in today’s high-tech society with the aid of sophisticated laboratories and high
                            end research facilities in support of top class faculties. Besides, we motivate students in
                            skill-development programmes by working hand in hand with various organizations and the
                            On-campus Industrial Incubation centre. Moreover, students and faculty of ECE Department
                            work together in real world research environments particularly in collaboration with Cancer
                            Imaging Modalities of KIMS Group of Hospitals.</p>

                        <h3 class="heading3">M.Tech in Microwave Engineering</h3>
                        <p>The course offers students opportunities to get familiarized with the real world
                            communication system in the range of microwave frequencies and its syllabus focuses on
                            design and implementation of various communication structures, mainly smart antennas,
                            microwave integrated circuits and much more using simulation tools like High Frequency
                            Structural Simulator (HFSS).</p>
                    </div>

                   </div>


                   <div class="col-12">
                    <h3 class="tablehead">Faculty</h3>
                        <div id="placed" class="owl-carousel owl-theme owl-loaded owl-drag">
                            <div class="faculty_card">
                                <div class="faculty_img_wrap">
                                    <img src="{% static 'images/sajitha.jpg' %}" alt="">
                                </div>
                                <h2 class="heading3">Sajitha P</h2>
                                <p>Head of Department</p>
                                <label class="greenfont">M.E.(Applied Electronics)</label>
                            </div>
                            <div class="faculty_card">
                                <div class="faculty_img_wrap">
                                    <img src="{% static 'images/jismi_k.jpg' %}" alt="">
                                </div>
                                <h2 class="heading3">Jismi K</h2>
                                <p>Associate Professor</p>
                                <label class="greenfont">M.Tech (VLSI Design)</label>
                            </div>
                            <div class="faculty_card">
                                <div class="faculty_img_wrap">
                                    <img src="{% static 'images/dummy.jpg' %}" alt="">
                                </div>
                                <h2 class="heading3">Arun S</h2>
                                <p> Asst. Professor</p>
                                <label class="greenfont">M.E (Communication Systems)</label>
                            </div>
                            <div class="faculty_card">
                                <div class="faculty_img_wrap">
                                    <img src="{% static 'images/chitra_t.jpg' %}" alt="">
                                </div>
                                <h2 class="heading3">Chitra Thampi</h2>
                                <p> Asst. Professor</p>
                                <label class="greenfont">M.Tech (Communication Systems)</label>
                            </div>
                            <div class="faculty_card">
                                <div class="faculty_img_wrap">
                                    <img src="{% static 'images/rasul_muthu.jpg' %}" alt="">
                                </div>
                                <h2 class="heading3">A Rasul Muthu</h2>
                                <p> Asst. Professor</p>
                                <label class="greenfont">M.Tech (Microwave &amp; TV Engineering)</label>
                            </div>
                            <div class="faculty_card">
                                <div class="faculty_img_wrap">
                                    <img src="{% static 'images/krishna_thulasi.jpg' %}" alt="">
                                </div>
                                <h2 class="heading3">Krishna Thulasi</h2>
                                <p> Asst. Professor</p>
                                <label class="greenfont">M.Tech (Microwave &amp; TV Engineering)</label>
                            </div>
                            <div class="faculty_card">
                                <div class="faculty_img_wrap">
                                    <img src="{% static 'images/srilakshmi_pr.jpg' %}" alt="">
                                </div>
                                <h2 class="heading3">Sreelekshmi</h2>
                                <p> Asst. Professor</p>
                                <label class="greenfont">M.Tech (Communication Systems)</label>
                            </div>

                        </div>
                </div>


                <div class="col-12">
                    <h3 class="tablehead">Technical Staff</h3>
                       
                        <div id="placed2" class="owl-carousel owl-theme owl-loaded owl-drag">
                            
                            <div class="faculty_card">
                                <div class="faculty_img_wrap">
                                    <img src="{% static 'images/saji.jpg' %}" alt="">
                                </div>
                                <h2 class="heading3">Saji A</h2>
                                <p>ITI in Electronics</p>
                            </div>
                            <div class="faculty_card">
                                <div class="faculty_img_wrap">
                                    <img src="{% static 'images/dhanya_mr.jpg' %}" alt="">
                                </div>
                                <h2 class="heading3">Dhanya M.R</h2>
                                <p>Diploma in Electronics Engineering</p>
                            </div>
                            <div class="faculty_card">
                                <div class="faculty_img_wrap">
                                    <img src="{% static 'images/mohammed_shafi.jpg' %}" alt="">
                                </div>
                                <h2 class="heading3">Mohammed Shafi .S</h2>
                                <p>B.E in Electronics Engineering</p>
                            </div>
                            
                        </div>
                </div>

                    
                   

                  

                 

                    
                     


    


                   





                    <div class="col-12">
                        <h3 class="tablehead">Facilities</h3>
                        <p>The department is well equipped to handle the extensive curriculum set by the University and
                            makes use of the following labs to achieve its objective.</p>

                        <h2 class="heading3">Electronics Workshop</h2>
                        <p>The ultimate aim of the lab is to make the students familiarized with various electronic
                            components, devices and equipments. The lab also has emphasis on soldering practices in the
                            construction of Printed Circuit Board (PCB).</p>

                        <h2 class="heading3">Electronic Devices Lab</h2>
                        <p>The primary objective of the lab is to serve as a platform for understanding the operating
                            principles of electronic devices through experiments and also to study their
                            characteristics. The students are trained in designing, implementing and testing the analog
                            electronic circuits.</p>

                        <h2 class="heading3">Electronics Circuit Lab</h2>
                        <p>The students design components for analog and pulse circuits. They construct the circuit and
                            test them to study the impact of various design parameters and compare their performance.
                        </p>

                        <h2 class="heading3">Communication Engineering and System lab</h2>
                        <p>The primary objective of the Communication Engineering lab is to familiarize the students
                            with all analog communication systems. The students conduct experiments to modulate as well
                            as to demodulate the signals using different modulation techniques.

                            The Communication Systems lab focuses on various digital communication techniques at
                            hardware level as well as software levels using simulation languages like MATLAB, Simulink
                            and so on.</p>

                        <h2 class="heading3">Digital Electronics Lab</h2>
                        <p>The main aim of the lab is to serve as a platform for designing sequential and combinational
                            logic circuits and the study of various timer circuits. Today, digital electronics are
                            applied in many diverse areas such as telephony, data processing, RADAR, navigation,
                            military system and many more.</p>

                        <h2 class="heading3">Microcontroller Lab</h2>
                        <p>In view of the impact of this new technology in recent years, the laboratory has organized
                            and provided support to courses strictly related to microcontrollers and also programming
                            related to real time system. It includes programming interfaced with ADC, DAC and Stepper
                            motors.</p>

                        <h2 class="heading3">Microprocessor Lab</h2>
                        <p>The lab focuses on the features and programming of 8085 and 8086 microprocessors and also
                            involves familiarization of various interfacing experiments like keyboard, ADC, DAC and much
                            more.</p>

                        <h2 class="heading3">Microwave Lab</h2>
                        <p>Various experiments are conducted on Microwave test benches in X band. The lab includes
                            various characteristic study using microwave sources like Klystron oscillators and Gunn
                            diode. The experiments involve studying of varying losses using different wave guides and
                            frequency measurements using several microwave antennas like horn antenna.</p>

                        <h2 class="heading3">Optical Communication Lab</h2>
                        <p>In optical fiber communication, lab experiments are conducted on how light is used to
                            transmit information on a fiber optic link. It is done by using LASER as well as LED sources
                            in single mode and multimode optical fibers. By using suitable experimental kits, Numerical
                            Aperture and V-number as well as several losses like attenuation and dispersion losses of
                            any optical fiber can also be measured. The advanced OTDR set up is available in the lab for
                            conducting the experiments to locate the fault in the fiber and also for doing the
                            experiments related to WDM.</p>

                        <h2 class="heading3">Industrial Electronics Lab</h2>
                        <p>The primary objective of the lab is to serve as platform for understanding the operating
                            principles of Power electronic devices through experiment and also to study their
                            characteristics. The students are trained in designing, constructing and testing the power
                            electronic circuits using SCR, MOSFET, TRIAC, IGBT, POWER BJT and LDR.</p>

                        <h2 class="heading3">Digital Signal Processing Lab</h2>
                        <p>Digital signal processing Lab emphasizes the study and processing of various signals using
                            digital techniques. The experiments are conducted using simulation language like MATLAB and
                            Simulation Tool such as SIMULINK. The experiments with DSP kits using Virtual Lab setup
                            called LABVIEW are also conducted.</p>

                    </div>

                </div>
            </div>
        </section>
        <!-- /wp:columns -->

        <!-- wp:buttons -->
        <div class="wp-block-buttons"></div>
        <!-- /wp:buttons -->
    </div>
</div>

{% endblock %}