{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load static %}
{% block content %}

<div class="page-title">
    <div class="container">
        <h2>Mechanical Engineering</h2>
        <div class="breadcrumb">
            <ul class="breadcrumb">
                <!-- Breadcrumb NavXT 7.2.0 -->
                <span property="itemListElement" typeof="ListItem"><i class="fa fa-home"></i><a property="item"
                        typeof="WebPage" title="Go to TKM Institute of Management." href="{%  url 'web:index' %}"
                        class="home"><span property="name">Home</span></a>
                    <meta property="position" content="1">
                </span><i class="fa fa-angle-right"></i><span property="itemListElement" typeof="ListItem"><span
                        property="name">Departments</span>
                    <meta property="position" content="2">
                </span>
            </ul>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="container cu-cont">

        <section class="container-fluid section">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-12">
                        <h2 class="heading1">Mechanical Engineering</h2>
                        <p>The Mechanical Engineering Department was established in the year 2005. The school of
                            Mechanical Engineering offers both a broad mechanical engineering degree that has emphasis
                            on fluid mechanics, mechatronics, hydraulics, automotive engineering and medical
                            engineering. Engineers qualified in all these areas play a key role in the design and
                            manufacture of items that impact on modern living and our everyday lives, whether it
                            comprises of household goods, healthcare products, sports equipment, reliable cars, aircraft
                            or other transport system.
                            The department has a very efficient advisory system which always keeps very close
                            teacher-student relationship. The faculty of the department is well qualified and dedicated
                            to the improvement of academic standards and is keen on the overall development of the
                            students. The faculty has been trained in various National and International workshops,
                            seminars and training programs to cope with rapidly changing teaching methodologies and to
                            impart efficient knowledge to the students. The laboratories and the workshop in the
                            department and the supporting departments give ample opportunities to the students of
                            Mechanical Engineering for gaining practical knowledge and hands on experience. Industrial
                            visits and Educational tours are made an integral part of the curriculum to familiarize the
                            student with the industrial environments and working conditions.</p>
                    </div>

                    <div class="col-12">
                        <h3 class="heading3">Educational objective of the department</h3>
                        <p>To produce graduates who can be employed as practicing engineers in fields such as, design,
                            research development, testing and manufacturing.</p>

                        <h3 class="heading3">M.Tech in INDUSTRIAL ENGINEERING</h3>
                        <p>M.Tech in Industrial Engineering was started in the Academic Year 2014 and is going on in
                            full swing. Students after post graduation get a thorough knowledge on industries,
                            industrial relations.The program aims to provide an education that is directly applicable to
                            a career in industry and is suitable for churning out experienced professionals .The program
                            is designed to educate a new type of engineering workforce which is currently in high
                            demand.</p>
                    </div>







                    <div class="col-12">
                        <h3 class="tablehead">Faculty</h3>
                            <div id="placed" class="owl-carousel owl-theme owl-loaded owl-drag">
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/m_fahad.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Mohammed Fahad
                                        <p>Asst.Professor</p>
                                        <label class="greenfont">M.E | Phd(CAD/CAM) </label>
                                </div>
    
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/shanawas.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Shanavas A S</h2>
                                    <p>Asst.Professor</p>
                                    <label class="greenfont">M.Tech (Manufacturing Engineering) </label>
                                </div>
    
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/syamkumar.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Syam Kumar S</h2>
                                    <p>Asst.Professor</p>
                                    <label class="greenfont">M.Tech (Thermal Science) </label>
                                </div>
    
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/jasim_n.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Jasim N</h2>
                                    <p>Asst.Professor</p>
                                    <label class="greenfont">M.Tech (Industrial Engineering and
                                        management) </label>
                                </div>
    
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/n_jaya_c_nair.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Jayachandran Nair</h2>
                                    <p>Lab Instructor</p>
                                    <label class="greenfont">ITI (Tuner) </label>
                                </div>
    
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/solomon.png' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Solomon D</h2>
                                    <p>Lab Instructor</p>
                                    <label class="greenfont">ITI (Blacksmith) </label>
                                </div>
    
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/subin.png' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Subin J</h2>
                                    <p>Lab Instructor</p>
                                    <label class="greenfont">ITI (Diploma in Mechanical Engineering)</label>
                                </div>
    
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/george_m.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">George M</h2>
                                    <p>Lab Instructor</p>
                                    <label class="greenfont">ITI (Fitter) </label>
                                </div>
    
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/ashish_m.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Ashish M</h2>
                                    <p>Lab Instructor</p>
                                    <label class="greenfont">ITI (Tuner) </label>
                                </div>

                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/amal_pratap.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Amal Pratap</h2>
                                    <p> Head of the Department</p>
                                    <label class="greenfont">M.Tech (Computer Integrated
                                        Manufacturing)</label>
                                </div>
    
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/sreejith.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3"> Sreejith.S</h2>
                                    <p> Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Machine Design)</label>
                                </div>
    
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/ramesh_ms.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3"> Ramesh M.S</h2>
                                    <p> Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Production and Industrial
                                        Engineering)</label>
                                </div>
    
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/m_ziad.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3"> Mohammed Ziad</h2>
                                    <p> Asst. Professor</p>
                                    <label class="greenfont">M.E Energy Engineeering</label>
                                </div>

                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/sarath_cg.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Sarath.C.G</h2>
                                    <p> Asst. Professor</p>
                                    <label class="greenfont">M.Tech(Thermal Engineering)</label>
                                </div>
                                
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/yadhu.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3"> Yedhu U Krishnan</h2>
                                    <p> Asst. Professor</p>
                                    <label class="greenfont">PHD Doing (Computer Integrated
                                        Manufacturing)</label>
                                </div>
    
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/bivin_s_nar.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Bivin S Nair M.S</h2>
                                    <p> Asst. Professor</p>
                                    <label class="greenfont">M.Tech (Financial Engineering)</label>
                                </div>
    
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/rijas_sm.jpg' %}" alt="">
                                    </div>
                                    <h2 class="heading3">Rijas S M</h2>
                                    <p>Unknown</p>
                                    <label class="greenfont">M.Tech (MACHINE DESIGN)</label>
                                </div>
    
                            </div>
                    </div>


                    <div class="col-12">
                        <h3 class="tablehead">Technical Staff</h3>
                           
                            <div id="placed2" class="owl-carousel owl-theme owl-loaded owl-drag">
                                
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/dummy.jpg' %}" alt="">
                                    </div>
                                    
                                    <h2 class="heading3">A. Shajahan</h2>
                                    <p>ITI Refrigeration & A.C</p>
                                    <!--<label class="greenfont">M.Tech</label>-->
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/dummy.jpg' %}" alt="">
                                    </div>
                                    
                                    <h2 class="heading3">K. Balachandran</h2>
                                    <p>ITI Fitter</p>
                                </div>
                                <div class="faculty_card">
                                    <div class="faculty_img_wrap">
                                        <img src="{% static 'images/dummy.jpg' %}" alt="">
                                    </div>
                                    
                                    <h2 class="heading3">Sajjad Kamarudeen</h2>
                                    <p>Diploma in Automobile Engineering</p>
                                    <!--<label class="greenfont">M.Tech</label>-->
                                </div>
                                
                            </div>
                    </div>


                    <div class="col-12">
                        <h3 class="tablehead">Facilities</h3>
                        <p>Labs with modern machineries make this course useful for students in becoming good civil
                            engineers.</p>

                        <h2 class="heading3">Environmental Lab</h2>
                        <p>The lab is equipped with various facilities which determine the quality tests for water
                            samples. Mainly DO, BOD, PH tests are carried out.</p>

                        <h2 class="heading3">Transportation Engineering Lab</h2>
                        <p>Design of Highway systems, Railway systems, Airport runways etc needs the properties of
                            materials such as bitumen, aggregate, etc used for construction. In this lab the various
                            tests like impact test, aggregate crushing value test, abrasion test etc are carried
                            out.</p>

                        <h2 class="heading3">Strength of Material Lab</h2>
                        <p>Strength of materials is one of the important subjects in Civil engineering. In this lab,
                            students will get the opportunity to apply load to various materials under different
                            equilibrium conditions.</p>

                        <h2 class="heading3">Surveying Lab</h2>
                        <p>The lab is equipped with various instruments and tools with which we can analyze the
                            topography of an area. Theodolite, plane table, dumpy level, total station etc are the
                            common instruments that we use in this lab.</p>

                        <h2 class="heading3">Geotechnical Engineering Lab</h2>
                        <p>In geotechnical engineering lab, we learn to be nearer to nature. Here various tests are
                            conducted to identify the soil and its various properties.</p>

                        <h2 class="heading3">Computer Aided Design &amp; Drafting Lab</h2>
                        <p>Computer softwares are used in all disciplines for various applications. Likewise, in
                            Civil engg. field, Auto CAD can be used for many applications like surveying, analysis,
                            design, quantity calculations and costing.</p>

                    </div>

                </div>
            </div>
        </section>
        <!-- /wp:columns -->

        <!-- wp:buttons -->
        <div class="wp-block-buttons"></div>
        <!-- /wp:buttons -->
    </div>
</div>

{% endblock %}