{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load static %}
{% block content %}

<div class="page-title">
    <div class="container">
        <h2>Physical Education</h2>
        <div class="breadcrumb">
            <ul class="breadcrumb">
                <!-- Breadcrumb NavXT 7.2.0 -->
                <span property="itemListElement" typeof="ListItem"><i class="fa fa-home"></i><a property="item"
                        typeof="WebPage" title="Go to TKM Institute of Management." href="{%  url 'web:index' %}"
                        class="home"><span property="name">Home</span></a>
                    <meta property="position" content="1">
                </span><i class="fa fa-angle-right"></i><span property="itemListElement" typeof="ListItem"><span
                        property="name">Departments</span>
                    <meta property="position" content="2">
                </span>
            </ul>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="container cu-cont">

        <section class="container-fluid section">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-12">
                        <h2 class="heading1">Physical Education</h2>
                        <p>The Physical Education department at MACE is committed to providing students with an
                            opportunity to developing their extracurricular skills by focusing on sports such as
                            cricket, football, basketball etc. The college conducts the Inter Collegiate fest, MAESTRO,
                            wherein various sports competitions are conducted and the winners awarded cash prizes every
                            year.</p>
                    </div>


                    <div class="col-12">
                        <h3 class="tablehead">Faculty</h3>
                        <div id="placed" class="owl-carousel owl-theme owl-loaded owl-drag">

                            <div class="faculty_card">
                                <div class="faculty_img_wrap">
                                    <img src="{% static 'images/dummy.jpg' %}" alt="">
                                </div>
                                <h2 class="heading3">K. R Rajmohan</h2>
                                <p>Asst. Professor in Physical Education</p>
                                <label class="greenfont">B.Sc, MPES</label>
                            </div>
                        </div>

                    </div>

                    <div class="col-12">
                        <h3 class="tablehead">Facilities</h3>
                        <p>Some of the facilities available in the campus are</p>
                        <ul>
                            <li>Cricket Net Court</li>
                            <li>Football Court</li>
                            <li>Volleyball Court</li>
                        </ul>

                        <p>The necessary sports gears required for the proper conduct of various games like cricket,
                            football, basketball, table tennis, throw ball, soft ball, volleyball, chess and caroms are
                            available.</p>

                    </div>

                </div>
            </div>
        </section>
        <!-- /wp:columns -->

        <!-- wp:buttons -->
        <div class="wp-block-buttons"></div>
        <!-- /wp:buttons -->
    </div>
</div>

{% endblock %}