{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load static %}
{% block content %}

<div class="page-title">
	<div class="container">
		<h2>Amenities</h2>
		<div class="breadcrumb">
			<ul class="breadcrumb">
				<!-- Breadcrumb NavXT 7.2.0 -->
				<span property="itemListElement" typeof="ListItem"><i class="fa fa-home"></i><a property="item"
						typeof="WebPage" title="Go to TKM Institute of Management." href="{%  url 'web:index' %}"
						class="home"><span property="name">Home</span></a>
					<meta property="position" content="1">
				</span><i class="fa fa-angle-right"></i><span property="itemListElement" typeof="ListItem"><span
						property="name">Facilities</span>
					<meta property="position" content="2">
				</span>
			</ul>
		</div>
	</div>
</div>

<div class="main-content">
	<div class="container cu-cont">

        <section class="container-fluid section">
            <div class="container">
                <div class="row align-items-center">
                    
                
                    
                    <div class="col-12">
                        <h2 class="heading1">MACE provides the following amenities.</h2>
                       
                        <ul>
        <li>Library</li>
        <li>Cafeteria</li>
        <li>Counselling Centre</li>
        <li>Cultural Centre</li>
        <li>Play Ground</li>
        <li>Cricket Net Court</li>
        <li>Football Court</li>
        <li>Volley Ball Court</li>
        <li>Store with reprographic facility</li>
        </ul>
        
                        
                        
                    </div>
                    
                </div>
            </div>
        </section>
		<!-- /wp:columns -->

		<!-- wp:buttons -->
		<div class="wp-block-buttons"></div>
		<!-- /wp:buttons -->
	</div>
</div>

{% endblock %}