{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load static %}
{% block content %}

<div class="page-title">
	<div class="container">
		<h2>Transportation</h2>
		<div class="breadcrumb">
			<ul class="breadcrumb">
				<!-- Breadcrumb NavXT 7.2.0 -->
				<span property="itemListElement" typeof="ListItem"><i class="fa fa-home"></i><a property="item"
						typeof="WebPage" title="Go to TKM Institute of Management." href="{%  url 'web:index' %}"
						class="home"><span property="name">Home</span></a>
					<meta property="position" content="1">
				</span><i class="fa fa-angle-right"></i><span property="itemListElement" typeof="ListItem"><span
						property="name">Facilities</span>
					<meta property="position" content="2">
				</span>
			</ul>
		</div>
	</div>
</div>

<div class="main-content">
	<div class="container cu-cont">

        <section class="container-fluid section">
            <div class="container">
                <div class="row align-items-center">
                    
                    <div class="col-12">
                        <!--<h2 class="heading1">CFF</h2>-->
                        <p>MACE has a fleet of well maintained buses connecting all major towns in and around Trivandrum district such as Balaramapuram, Trivandrum Central, Kazhakoottam, Murukkumpuzha, Varkala, Kallambalam, Anchal, Kilimanoor, Nedumagad and many more. The various routes along with their starting point and time are as detailed below:</p>
                    </div>
                    
                    <div class="col-12">
                        <table class="table table-hover table-bordered table-stripped">
                            
                            <thead>
                                <tr>
                                <th>No</th>
                                <th>Starting Point</th>
                                <th>Time</th>
                                <th>Route</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                
                                <tr>
                                    <td>1</td>
                                    <td>Varkala-</td>
                                    <td>7.50AM</td>
                                    <td>Palachira / Njakkad / Kallambalam / Kaduvappally / Alamcode / Attingal / Avanavanchery / Valakadu</td>
                                </tr>
                                
                                <tr>
                                    <td>2</td>
                                    <td>Jagathy</td>
                                    <td>7.20AM</td>
                                    <td>Poojappura / Thirumala / Valiyavila / Vattiyoorkavu / Perrorkada / Maruthoor / Chittazha</td>
                                </tr>
                                
                                <tr>
                                    <td>3</td>
                                    <td>Murukkumuzha</td>
                                    <td>7.45AM</td>
                                    <td>Maithani / Kaniyapuram / CRPF / Mangalapuram Mohanapuram / Kalloor / Pothencode / Velavoor</td>
                                </tr>
                                
                                <tr>
                                    <td>4</td>
                                    <td>East Fort</td>
                                    <td>7.50AM</td>
                                    <td>Ayurveda Clg / Palayam / PMG / Pattom K D Puram / Mannanthala / Vattappara / Vembayam</td>
                                </tr>
                                
                                <tr>
                                    <td>5</td>
                                    <td>Neyyattinkara</td>
                                    <td>7.05AM</td>
                                    <td>Balaramapuram / Pappanamcode / Karamana / Killippalam Vellayambalam / Kavadiyar / Marappalam / Muttada</td>
                                </tr>
                                
                                <tr>
                                    <td>6</td>
                                    <td>Ambalathara</td>
                                    <td>7.35AM</td>
                                    <td>Kallattumukku / Manacaud / Eangikkal / Chakka Kazhakkoottom / Vetturoad / Andoorkonam</td>
                                </tr>
                                
                                <tr>
                                    <td>9</td>
                                    <td>Mananakku</td>
                                    <td>7.50AM</td>
                                    <td>Alamcode / Vanchiyoor / Koduvazhalloor / Karette Vamanapuram / Alanthara</td>
                                </tr>
                                
                                <tr>
                                    <td>11</td>
                                    <td>Anchal</td>
                                    <td>7.50AM</td>
                                    <td>Ayoor / Chadayamangalam / Nilamel / Thattathumala / Kilimanoor / Porunthamon</td>
                                </tr>
                                
                                <tr>
                                    <td>12</td>
                                    <td>Vazhayila</td>
                                    <td>7.35AM</td>
                                    <td>Kachani / Azhicode / Valicode / Nedumangadu Puthanpalam / Panavoor / Kuttimoodu / Manikkal</td>
                                </tr>
                                
                                <tr>
                                    <td>13</td>
                                    <td>Kallumoodu</td>
                                    <td>7.15AM</td>
                                    <td>Vallakadavu / Eangikkal / Pallimukku / Kumarapuram Ulloor / Sreekaryam / Powdikonam / Njandoorkonam</td>
                                </tr>
                                
                                <tr>
                                    <td>14</td>
                                    <td>Kulathoor</td>
                                    <td>7.35AM</td>
                                    <td>Manvila / CET / Chavadimukku / Kariavattom Chempazhanthy / Chenkottukonam / Sainik School / Kattayikonam</td>
                                </tr>
                                
                                <tr>
                                    <td>15</td>
                                    <td>Chettachal</td>
                                    <td>7.15AM</td>
                                    <td>Thennoor / Peringamala / Palode / Bharathannoor Pangode / Pullippara / Kallara / Karette</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    
                   
                    
                   
                    
                </div>
            </div>
        </section>
		<!-- /wp:columns -->

		<!-- wp:buttons -->
		<div class="wp-block-buttons"></div>
		<!-- /wp:buttons -->
	</div>
</div>

{% endblock %}