{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load static %}
{% block content %}

<div class="page-title">
	<div class="container">
		<h2>Gallery</h2>
		<div class="breadcrumb">
			<ul class="breadcrumb">
				<!-- Breadcrumb NavXT 7.2.0 -->
				<span property="itemListElement" typeof="ListItem"><i class="fa fa-home"></i><a property="item"
						typeof="WebPage" title="Go to TKM Institute of Management." href="{%  url 'web:index' %}"
						class="home"><span property="name">Home</span></a>
					<meta property="position" content="1">
				</span><i class="fa fa-angle-right"></i><span property="itemListElement" typeof="ListItem"><span
						property="name">Gallery</span>
					<meta property="position" content="2">
				</span>
			</ul>
		</div>
	</div>
</div>

<div class="main-content">
	<div class="container cu-cont">

        <section class="container-fluid section">
            <div class="container">
                <div class="row alifn-items-center">
                    
                    <div class="col-12 col-md-3" >
                        <a class="gallery_card" href="#">
                            <div class="gallery_img_wrap">
                                <span class="card_overlay"></span>
                                <i>View More +</i>
                                <img src="static\images\gallery1.png" alt="">
                            </div>
                            <label class="greenfont">1 Photos</label>

                            <h4 class="heading3">MUSLIM ASSOCIATION POLYTECHNIC COLLEGE INAUGURATION</h4>
                            <span class="date">02-09-2021</span>
                        </a>
                    </div>
                    <div class="col-12 col-md-1">&nbsp;</div>
                    
                     <div class="col-12 col-md-3" >
                        <a class="gallery_card" href="#">
                            <div class="gallery_img_wrap">
                                <span class="card_overlay"></span>
                                <i>View More +</i>
                                <img src="static\images\gallery2.png" alt="">
                            </div>
                            <label class="greenfont">1 Photos</label>
                            
                            <h4 class="heading3">16th CONVOCATION CEREMONY @ MACE CAMPUS</h4>
                            <span class="date">31-08-2021</span>
                        </a>
                    </div>

                    <div class="col-12 col-md-1">&nbsp;</div>
                    
                     <div class="col-12 col-md-3" style="margin-left: 50px;">
                        <a class="gallery_card" href="#">
                            <div class="gallery_img_wrap">
                                <span class="card_overlay"></span>
                                <i>View More +</i>
                                <img src="static\images\gallery3.png" alt="">
                            </div>
                            <label class="greenfont">1 Photos</label>
                            
                            <h4 class="heading3">IMPULSE 2K11 : LOGO Launch @ MACE campus</h4>
                            <span class="date">21-06-2011</span>
                        </a>
                    </div>

                    <div class="col-12 col-md-1">&nbsp;</div>

                     <div class="col-12 col-md-3" style="margin-left: 50px;">
                        <a class="gallery_card" href="#">
                            <div class="gallery_img_wrap">
                                <span class="card_overlay"></span>
<!--                                <i>View More +</i>-->
                                <img src="{% static 'images\macet.jpg' %}" style=" height:300px; width:300px;">
                            </div>
<!--                            <label class="greenfont">1 Photos</label>-->

                            <h4 class="heading3"></h4>
<!--                            <span class="date">21-06-2011</span>-->
                        </a>
                    </div>
                    <div class="col-12 col-md-1">&nbsp;</div>

                     <div class="col-12 col-md-3" style="margin-left: 50px;">
                        <a class="gallery_card" href="#">
                            <div class="gallery_img_wrap">
                                <span class="card_overlay"></span>
<!--                                <i>View More +</i>-->
                                <img src="{% static 'images\clg.jpg' %}" style=" height:300px; width:300px; ">
                            </div>
<!--                            <label class="greenfont">1 Photos</label>-->

<!--                            <h4 class="heading3"></h4>-->
<!--                            <span class="date">21-06-2011</span>-->
                        </a>
                    </div>
                    <div class="col-12 col-md-1">&nbsp;</div>

                     <div class="col-12 col-md-3" style="margin-left: 50px;">
                        <a class="gallery_card" href="#">
                            <div class="gallery_img_wrap">
                                <span class="card_overlay"></span>
<!--                                <i>View More +</i>-->
                                <img src="{% static 'images\bus.jpg' %}" style=" height:300px; width:300px; ">
                            </div>
<!--                            <label class="greenfont">1 Photos</label>-->

<!--                            <h4 class="heading3"></h4>-->
<!--                            <span class="date">21-06-2011</span>-->
                        </a>
                    </div>
                    <div class="col-12 col-md-1">&nbsp;</div>

                     <div class="col-12 col-md-3" style="margin-left: 50px;">
                        <a class="gallery_card" href="#">
                            <div class="gallery_img_wrap">
                                <span class="card_overlay"></span>
<!--                                <i>View More +</i>-->
                                <img src="{% static 'images\gate.jpg' %}" style=" height:300px; width:300px;">
                            </div>
<!--                            <label class="greenfont">1 Photos</label>-->

                            <h4 class="heading3"></h4>
<!--                            <span class="date">21-06-2011</span>-->
                        </a>
                    </div>
                    <div class="col-12 col-md-3" style="margin-left: 50px;">
                        <a class="gallery_card" href="#">
                            <div class="gallery_img_wrap">
                                <span class="card_overlay"></span>
<!--                                <i>View More +</i>-->
                                <img src="{% static 'images\mech.jpg' %}" style=" height:300px; width:300px;">
                            </div>
<!--                            <label class="greenfont">1 Photos</label>-->

                            <h4 class="heading3"></h4>
<!--                            <span class="date">21-06-2011</span>-->
                        </a>
                    </div>
                    <!-- <div class="col-12 col-md-4">-->
                    <!--    <a class="gallery_card" href="#">-->
                    <!--        <div class="gallery_img_wrap">-->
                    <!--            <span class="card_overlay"></span>-->
                    <!--            <i>View More +</i>-->
                    <!--            <img src="https://images.unsplash.com/photo-1606761568499-6d2451b23c66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" alt="">-->
                    <!--        </div>-->
                    <!--        <label class="greenfont">5 Photos</label>-->
                            
                    <!--        <h4 class="heading3">College Student Council Inauguration</h4>-->
                    <!--        <span class="date">21 June 2021</span>-->
                    <!--    </a>-->
                    <!--</div>-->

                    

                </div>
            </div>
        </section>
		<!-- /wp:columns -->

		<!-- wp:buttons -->
		<div class="wp-block-buttons"></div>
		<!-- /wp:buttons -->
	</div>
</div>

{% endblock %}