{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load static %}
{% block content %}

<div class="page-title">
	<div class="container">
		<h2>IQAC</h2>
		<div class="breadcrumb">
			<ul class="breadcrumb">
				<!-- Breadcrumb NavXT 7.2.0 -->
				<span property="itemListElement" typeof="ListItem"><i class="fa fa-home"></i><a property="item"
						typeof="WebPage" title="Go to TKM Institute of Management." href="{%  url 'web:index' %}"
						class="home"><span property="name">Home</span></a>
					<meta property="position" content="1">
				</span><i class="fa fa-angle-right"></i><span property="itemListElement" typeof="ListItem"><span
						property="name">Activities</span>
					<meta property="position" content="2">
				</span>
			</ul>
		</div>
	</div>
</div>

<div class="main-content">
	<div class="container cu-cont">

		<section class="container-fluid section">
			<div class="container">
				<div class="row align-items-center">
					
					<div class="col-12">
						<p>Academic Auditing system of KTU comprises of two bodies; the Internal Quality Assurance Cell (IQAC) at the Institution level and the External Auditor at the University Level. The IQAC will function as a body assisting the External Auditor.</p>
					</div>
					
					<div class="col-12">
						<h2 class="heading2">Internal Quality Assurance Cell(IQAC)</h2>
						<p>Since quality enhancement is a continuous process, the IQAC will become a part of an institution’s system and work towards realizing the goals of quality enhancement and sustenance. The motto of the IQAC is to achieve quality through continuous improvement with cooperation of all stake holders. It will channelize and systematize the efforts of the University towards academic excellence.</p>
					</div>
					
					<div class="col-12">
						<h2 class="heading2">Functions</h2>
						<p>Taking a lead role in undertaking Academic Audit and to give feedback with the purpose of devising quality enhancement programmes.
						Facilitating the creation of a learner-centric environment conducive for quality education and faculty maturation to adopt the required knowledge and technology for participatory teaching and learning process.
						Arrangement for feedback responses from students, parents and other stakeholders on quality related institutional processes.
						Dissemination of information on the various quality parameters of higher education.</p>
					</div>
					
					<div class="col-12">
						<h2 class="heading2">The composition</h2>
						<ul>
							<li>Chairperson: Head of the Institution</li>
							<li>Teachers to represent all level (Three to eight, the senior among them will be the coordinator/director)</li>
							<li>One member from the Management</li>
							<li>One senior administrative officer</li>
							<li>One nominee each from local society, students and alumni</li>
							<li>One nominee each from Industry and Professional body</li>
						</ul>
						<p>The membership of such nominated members shall be for a period of two years. The IQAC should meet at least once in every quarter. The quorum for the meeting shall be two-third of the total number of members. The agenda, minutes and action taken reports are to be documented with official signatures and maintained electronically in a retrievable format.</p>
						<ul>
							<li>It is necessary for the members of the IQAC to shoulder the responsibilities of generating and promoting awareness in the institution and to devote time for working out the procedural details. The institutions need to submit quarterly the Quality Assurance Report (QAR) to the university.</li>
							<li>The IQAC may also need to create its exclusive window tab on its institutional website for keeping the records/files of Academic auditing, Accreditation Team Reports, QAR, and Certificate of Accreditation Outcomes and regularly upload/ report on its activities.</li>
						</ul>
					</div>
					
					<div class="col-12">
						<p><strong>Muslim Association college of Engineering has a well esteemed team for IQAC . The team members are listed below.</strong></p>
						<table class="table">
							<tbody>
								<tr>
									<td colspan="3"><strong> Internal Quality Assurance cell (IQAC)</strong></td>
								</tr>
							<tr>
								<td>Chairman</td>
								<td>:</td>
								<td>Dr. Praveen Kumar B T(Principal)</td>
							</tr>
							<tr>
								<td>Coordinator</td>
								<td>:</td>
								<td>Ms.Shefin Shoukath (Associate Professor)</td>
							</tr>
							<tr>
								<td rowspan="6">Members</td>
								<td>:</td>
								<td>Ms. Jismi K (Associate Professor)</td>
							</tr>
							<tr>
								<td></td>
								<td>Ms. Jasnah Hakkim (Assistant Professor)</td>
								</tr>
							<tr>
								<td></td>
								<td>Ms. Roshna B (Assistant Professor)</td>
							</tr>
							<tr>
								<td></td>
								<td>Mr. Ramesh M S (Assistant Professor)</td>
							</tr>
							<tr>
								<td></td>
								<td>Ms. Geena G S (Assistant Professor)</td>
							</tr>
							<tr>
								<td></td>
								<td>Ms. Lekshmi R (Assistant Professor)</td>
							</tr>
							<tr>
								<td>Director</td>
								<td>:</td>
								<td>Prof. Umar Shehab</td>
							</tr>
							<tr>
								<td>Accounts Officer</td>
								<td>:</td>
								<td>Mr. Jalaludeen</td>
							</tr>
							<tr>
								<td>Student Representative</td>
								<td></td>
								<td>Ms. Rajitha L V [M/O Randeep P R (S3ECE)]</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td>Mr. Unnikuttan (S3 CSE)</td>
							</tr>
							<tr>
								<td>Alumni</td>
								<td></td>
								<td>Mr. Anoop Aravind (2019 pass out)</td>
							</tr>
							<tr>
								<td>Industry</td>
								<td></td>
								<td>Ms. Sajini T (Principal Engineer, CDAC)</td>
							</tr>
							<tr>
								<td>Professional Body</td>
								<td></td>
								<td>Dr. C Seldev Christopher (Executive Member IETE)</td>
							</tr>
							</tbody>
						</table>
					</div>
					
					<div class="col-12">
						<h3 class="tablehead">Internal Quality Assurance Cell(IQAC) Reports</h3>
						
						<div class="row">
							
							
							
							<div class="col-12 col-md-4">
								<a target="_blank" href="{% static 'pdf/IQAC minutes November 2022.pdf' %}" class="icon-btn">
									<i class="fa-solid fa-file-pdf"></i>
									IQAC minutes November 2022
								 </a>
							</div>
							
							<div class="col-12 col-md-4">
								<a target="_blank" href="{% static 'pdf/Audit Report December 2019.pdf' %}" class="icon-btn">
									<i class="fa-solid fa-file-pdf"></i>
									Audit Report December 2019
								 </a>
							</div>
							
							<div class="col-12 col-md-4">
								<a target="_blank" href="{% static 'pdf/IQAC minutes October2020.pdf' %}" class="icon-btn">
									<i class="fa-solid fa-file-pdf"></i>
									IQAC minutes October 2020
								 </a>
							</div>
							
							<div class="col-12 col-md-4">
								<a target="_blank" href="{% static 'pdf/IQAC Audit report December 2019.pdf' %}" class="icon-btn">
									<i class="fa-solid fa-file-pdf"></i>
									IQAC Audit report December 2019
								 </a>
							</div>
							
							<div class="col-12 col-md-4">
								<a target="_blank" href="{% static 'pdf/IQAC Audit report January 2020.pdf' %}" class="icon-btn">
									<i class="fa-solid fa-file-pdf"></i>
									IQAC Audit report January 2020
								 </a>
							</div>
							
							<div class="col-12 col-md-4">
								<a target="_blank" href="{% static 'pdf/IQAC minutes September 2019.pdf' %}" class="icon-btn">
									<i class="fa-solid fa-file-pdf"></i>
									IQAC minutes September 2019
								 </a>
							</div>
							
							<div class="col-12 col-md-4">
								<a target="_blank" href="{% static 'pdf/IQAC order.pdf' %}" class="icon-btn">
									<i class="fa-solid fa-file-pdf"></i>
									IQAC order
								 </a>
							</div>
							
							<div class="col-12 col-md-4">
								<a target="_blank" href="{% static 'pdf/IQACminutes September 2022.pdf' %}" class="icon-btn">
									<i class="fa-solid fa-file-pdf"></i>
									IQACminutes September 2022
								 </a>
							</div>
							
							<div class="col-12 col-md-4">
								<a target="_blank" href="{% static 'pdf/IQACminutesJanuary2021.pdf' %}" class="icon-btn">
									<i class="fa-solid fa-file-pdf"></i>
									IQAC minutes January 2021
								 </a>
							</div>
		
						</div>
					</div>
					
					
				</div>
			</div>
		</section>
		<!-- /wp:columns -->

		<!-- wp:buttons -->
		<div class="wp-block-buttons"></div>
		<!-- /wp:buttons -->
	</div>
</div>

{% endblock %}