{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load static %}
{% block content %}

<div class="page-title">
	<div class="container">
		<h2>Grievances Redressal Cell</h2>
		<div class="breadcrumb">
			<ul class="breadcrumb">
				<!-- Breadcrumb NavXT 7.2.0 -->
				<span property="itemListElement" typeof="ListItem"><i class="fa fa-home"></i><a property="item"
						typeof="WebPage" title="Go to TKM Institute of Management." href="{%  url 'web:index' %}"
						class="home"><span property="name">Home</span></a>
					<meta property="position" content="1">
				</span><i class="fa fa-angle-right"></i><span property="itemListElement" typeof="ListItem"><span
						property="name">Academics</span>
					<meta property="position" content="2">
				</span>
			</ul>
		</div>
	</div>
</div>

<div class="main-content">
	<div class="container cu-cont">

        <section class="container-fluid section">
            <div class="container">
                <div class="row align-items-center">
                    
                    <div class="col-12">
                        <p>Our Grievances Redressal Mechanisms Committee efficiently addresses General grievances, Ragging issues, Women grievances and SC/ST complaints or grievances on the campus, as per guidelines of AICTE.
                        Any student/parent of Muslim Association College of Engineering with a genuine grievance may approach Grievance Redressal Cell.
                        The Grievance Redressal Cell attempts to address genuine problems and complaints of student/parent whatever be the nature of the problem.</p>
                    </div>
                    
                    <div class="col-12">
                        <h2 class="heading2">Objectives</h2>
                        <ul>
                            <li>To create a platform where student/parent can point out their problems, regarding academic and non academic matters.</li>
                            <li>Get suggestions from the student/parent for improvement.</li>
                            <li>Take necessary steps for improvement in the light of grievances.</li>
                            <li>The grievant has to submit grievance in the online grievance redressal mechanism from the student/parent login in the college website.</li>
                            <li>Grievance shall be considered at the earliest but in any case not later than a week.</li>
                            <li>The cell shall be committed to maintain the confidentiality of information throughout the process.</li>
                            <li>Grievance with legal complexity like “sexual harassment/misconduct or of other immoral nature” shall be dealt with after taking advice from appropriate legal consultants/authorities.</li>
                            <li>To evolve at a solution after verifying the facts submitted by the student/parent to the committee in the online web portal, for further appropriate action by the higher authorities.</li>
                            <li>The Grievance Redressal Committee (GRC) is reconstituted as follows:</li>
                            <ul>
                                <li>Dr. Praveen Kumar B T (Convener),PRINCIPAL</li>
                                <li>Adv.Ottoor K Aravindakshan Pillai, Advocate (Ombudsman)</li>
                                <li>Ms.Raji S. L, HOD, Department of Civil Engineering</li>
                                <li>Ms. Al Arafa, Assistant Professor, Department of Civil Engineering</li>
                                <li>Ms.Jasnah Hakkim,Assistant Professor, Department of Electrical &amp; Electronics Engineering</li>
                                <li>Ms.Sandhya Rani M,Assistant Professor, Department of Science and Humanities</li>
                                <li>Ms.Shefin Shoukath, Associate Professor, Department of Electronics &amp; Communication Engineering</li>
                            </ul>
                        </ul>
                    </div>
                    
                    <div class="col-12">
                        <h2 class="heading2">Women's Grievances Redressal Cell</h2>
                        <ul>
                            <li>Women's Grievances Redressal Cell is meant to safe guard and promote the well being of all women employees or students of our institution. It takes care of all kind of grievances of women at Muslim Association College of Engineering and will take appropriate action as per redressal of complaints.</li>
                            <li>The grievant has to submit grievance in the online grievance redressal mechanism from the student/parent login in the college website.
                                <ul>
                                    <li>Dr. Praveen Kumar B T (Convener),PRINCIPAL</li>
                                    <li>Ms. Premlekshmi. K Nair, HOD, Department of Electrical &amp; Electronics Engineering</li>
                                    <li>Ms.Raji S. L, HOD, Department of Civil Engineering</li>
                                    <li>Ms. Shamna B, HOD,&nbsp;Department of&nbsp;Computer Science and Engineering</li>
                                    <li>Ms.Sandhya Rani M,Assistant Professor ,Department of Science and Humanities</li>
                                    <li>Ms. Chithra Thampi, Assistant Professor, Department of Electronics &amp; Communication Engineering&nbsp;</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="col-12">
                        <h2 class="heading2">SC/ST Committee</h2>
                        <ul>
                            <li>Dr.Praveen Kumar B T (Chairman) PRINCIPAL</li>
                            <li>Ms. Raji S L (Co-ordinator) HOD,CE</li>
                            <li>Ms. Sajitha P (Member) HOD, ECE</li>
                            <li>Ms. Premlakshmi K Nair (Member) HOD, EEE</li>
                            <li>Ms.AbhayaSL(Member) AP,CSE</li>
                            <li>Smt. Radha K (Member) Advisor</li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </section>
		<!-- /wp:columns -->

		<!-- wp:buttons -->
		<div class="wp-block-buttons"></div>
		<!-- /wp:buttons -->
	</div>
</div>

{% endblock %}