{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load static %}
{% block content %}

<div class="page-title">
	<div class="container">
		<h2>Rules & Regulations</h2>
		<div class="breadcrumb">
			<ul class="breadcrumb">
				<!-- Breadcrumb NavXT 7.2.0 -->
				<span property="itemListElement" typeof="ListItem"><i class="fa fa-home"></i><a property="item"
						typeof="WebPage" title="Go to TKM Institute of Management." href="{%  url 'web:index' %}"
						class="home"><span property="name">Home</span></a>
					<meta property="position" content="1">
				</span><i class="fa fa-angle-right"></i><span property="itemListElement" typeof="ListItem"><span
						property="name">Academics</span>
					<meta property="position" content="2">
				</span>
			</ul>
		</div>
	</div>
</div>

<div class="main-content">
	<div class="container cu-cont">

        <section class="container-fluid section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 ">
                        <p>Students are subject to the following rules of conduct and behaviour as framed by the college authorities:</p>
                        
                        <h3 class="heading3">Rules &amp; Regulations</h3>
                        
                        <ul>
                            
                        
                        
                        <li>The Institute values its reputation for moral leadership as much as its reputation for academic excellence and expects all students associated with it to maintain this reputation. MACE expects its students to be responsible adults and to behave at all times with honor and integrity.</li>
                        <li>College timings are from 9.00 a.m. to 4:10 p.m. Students are expected to arrive at the college before 9:00 a.m.in the morning and to leave the college after 4:10 p.m. in the evening.</li>
                        <li>If necessity arises to leaving the college campus before the end of the working day, special permission has to be obtained from the Staff Advisor.</li>
                        <li>Students should come neatly dressed to the college in their uniforms with valid ID card issued from the college. Wearing shoes is compulsory (Colorful Sports shoes,/Sandals/Slippers are not permitted).They should observe theirdress code on campus, laboratories and workshop.</li>
                        <li>Boys should have proper haircuts. They are allowed to keep moustache but the hair may not extend beyond the edge of the upper lip. They are also expected toshave their beard.</li>
                        <li>The behaviour of the students, both within and outside the college premises should be decent and befitting to a professional institution.</li>
                        <li>Students are expected to treat higher authorities, teachers, faculty and non-teaching faculty with all due respect.</li>
                        <li>Any unhealthy relationship between students that might affect their academic performance, breach their personal space or affect the reputation of the institution will be strictly dealt with.</li>
                        <li>Dignified behaviour is to be observed at all times within the classrooms. Loud talking among students is to be strictly avoided.</li>
                        <li>Students should avoid sitting on the college building steps and on the lawn.</li>
                        <li>Students should refrain from participation in any political party activities or communal politics inside the campus.</li>
                        <li>Disruption of the college environment in the form of agitations, like strike or fights, will be viewed seriously and the perpetrator will be very harshly dealt with.</li>
                        <li>Students are to strictly maintain the cleanliness of their classrooms and college premises.</li>
                        <li>College property must be handled with utmost care. Writing or marking on walls is strictly prohibited. If any damage is seen to have been caused by the students, they will be held responsible and the cost reimbursed from them.</li>
                        <li>The College campus is a no–smoking, alcohol-free</li>
                        <li>Laptops/ Computers are to be used within the campus for academic purposes only.</li>
                        <li>Use of mobile phones and other electronic gadgets are strictly prohibited on the college campus.</li>
                        <li>Students shall use the common dining facility provided in thecanteen while taking food. Those students bringing food from home and using the canteen should dispose the food waste in the assigned organic dust bin.</li>
                        <li>Students are not allowed to loiter in the canteen during class hours. Canteen shall not be utilized for studying or drawing purposes.</li>
                        <li>Ragging is a punishable offence and shall not be tolerated and can lead to the dismissal of the offender.</li>
                        <li>Students are not allowed to use the social media to malign the college in any way.</li>
                        <li>Only after getting prior written permission fromthe Principal, students are permitted to collect funds or organize any function in the college.</li>
                        <li>Vehicle parking is allowed only in the allotted area and sitting in the vehicle while parked is not permitted.</li>
                        <li>The Principal shall be the final authority in the interpretation of the College rules. Matters not covered by these rules are left to the discretion of the Principal and his decision shall be final.</li>
                        <li>All students are expected to abide by the college rules and regulations and to aid in its enforcement by reporting violations of it.</li>
                        
                        </ul>
                        
                        <h3 class="heading3">Uniform Specification</h3>
                        
                        <ul>
                            <li><span class="greenfont">BOYS:</span> Shirt – Pants with Shirt tucked in and Belt 2.5cm wide – Black Shoes with Black/Blue Socks.</li>
                            
                            <li><span class="greenfont">GIRLS:</span> Shirt – Jacket – Pants –Black Scarf (optional) - Black Shoes with Black/Blue Socks.</li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </section>
		<!-- /wp:columns -->

		<!-- wp:buttons -->
		<div class="wp-block-buttons"></div>
		<!-- /wp:buttons -->
	</div>
</div>

{% endblock %}