
{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

<!-- #page-title -->
<div class="page-title">
	<div class="container">
		<h2>{{title}}</h2>
		<div class="breadcrumb">
							<ul class="breadcrumb">
					<!-- Breadcrumb NavXT 7.2.0 -->
<span property="itemListElement" typeof="ListItem"><i class="fa fa-home"></i><a property="item" typeof="WebPage" title="Go to TKM Institute of Management." href="" class="home"><span property="name">Home</span></a><meta property="position" content="1"></span><i class="fa fa-angle-right"></i><span property="itemListElement" typeof="ListItem"><span property="name">Apply Online</span><meta property="position" content="2"></span>				</ul>
					</div>
	</div>
</div>
<div class="pd-p">
	<div class="container cu-cont">
					    <form id="applyOnline" method="POST" action="" enctype="multipart/form-data" novalidate="novalidate">
        <fieldset>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Name of the Applicant <span class="attention">(as shown in certificate)</span>*</label>
                    <input class="required" type="text" name="oa-name" value="" tabindex="1">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                    <label>DOB</label>
                    <input type="text" name="oa-dob" class="dob" tabindex="2">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                    <label>Age</label>
                    <input type="text" name="oa-age" tabindex="3">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                    <label>Gender</label>
                    <select id="oa-gender" name="oa-gender" tabindex="5">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Nationality</label>
                    <input type="text" name="oa-nationality" tabindex="6">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>State</label>
                    <input type="text" name="oa-state" tabindex="7">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Community</label>
                    <input type="text" name="oa-community" tabindex="8">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Caste </label>
                    <input type="text" name="oa-caste" tabindex="9">    
                </div>
            </section>
            <section class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <label>Father's / Gaurdian's Name</label>
                    <input type="text" name="oa-parent" tabindex="10"> 
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <label>Occupation / Designation</label>
                    <input type="text" name="oa-occu-desig" tabindex="11"> 
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <label>Organisation</label>
                    <input type="text" name="oa-organisation" tabindex="12"> 
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Permanent Address</label>
                    <textarea class="required" name="oa-per-address" value="" maxlength="300" tabindex="13"></textarea>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>PIN No</label> 
                    <input type="text" name="oa-pin-per" tabindex="14">
                    <label>Email</label>
                    <input type="text" class="required email" name="oa-email-per" tabindex="15">
                    <label>Phone</label> 
                    <input class="required number" maxlength="11" minlength="10" type="text" name="oa-phone-per" tabindex="16">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Address of correspondence</label>
                    <textarea name="oa-cor-address" value="" maxlength="300" tabindex="17"></textarea>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>PIN No</label> 
                    <input type="text" name="oa-pin-cor" tabindex="18">
                    <label>Email</label>
                    <input type="text" name="oa-email-cor" tabindex="19">
                    <label>Phone</label> 
                    <input type="text" maxlength="11" minlength="10" name="oa-phone-cor" tabindex="20">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>Your local guardian / contact person in Kollam or nearest place</h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Name</label>
                    <input type="text" name="oa-lo-gar-name" tabindex="21">
                    <label>Address</label>
                    <textarea name="oa-lo-gar-address" value="" maxlength="300" tabindex="22"></textarea>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Telephone</label>
                    <input type="text" name="oa-lo-gar-phone" tabindex="23">
                    <label>State relationship / acquaintance</label>
                    <textarea name="oa-lo-gar-relation" value="" maxlength="300" tabindex="24"></textarea>
                </div>
            </section>
            <section class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3>MANAGEMENT APTITUDE TEST DETAILS (Attach True copies of CAT/CMAT/KMAT Score Card)</h3>
                    <h4>CAT</h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Roll No.</label>
                    <input type="text" name="oa-cat-roll-no" tabindex="25">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Form No.</label>
                    <input type="text" name="oa-cat-form-no" tabindex="26">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label>Test month & date</label>
                    <input type="text" name="oa-cat-test-date" tabindex="27">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label>Composite / Total Score</label>
                    <input type="text" name="oa-cat-score" tabindex="28">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label>Rank</label>
                    <input type="text" name="oa-cat-rank" tabindex="29">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>C MAT</h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Roll No.</label>
                    <input type="text" name="oa-cmat-roll-no" tabindex="30">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Form No.</label>
                    <input type="text" name="oa-cmat-form-no" tabindex="31">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label>Test month & date</label>
                    <input type="text" name="oa-cmat-test-date" tabindex="32">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label>Composite / Total Score</label>
                    <input type="text" name="oa-cmat-score" tabindex="33">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label>Rank</label>
                    <input type="text" name="oa-cmat-rank" tabindex="34">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>K MAT</h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Roll No.</label>
                    <input type="text" name="oa-kmat-roll-no" tabindex="30">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Form No.</label>
                    <input type="text" name="oa-kmat-form-no" tabindex="31">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label>Test month & date</label>
                    <input type="text" name="oa-kmat-test-date" tabindex="32">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label>Composite / Total Score</label>
                    <input type="text" name="oa-kmat-score" tabindex="33">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <label>Rank</label>
                    <input type="text" class="number" name="oa-kmat-rank" tabindex="34">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>Education<span>(Attach True copies of all graduation marksheets)</span></h4>
                    <p class="attention">50%* marks in Part III for BA, B.Sc  B.Com graduates 50% aggregate marks for all other graduates</p>
                    <p class="attention">(48 %* incase of OBC candidate & 35 % incase of SC/ST candidate)</p>
                </div>
            </section>
            <section class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>10th or Equivalent</h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Name of Examination</label>
                    <select id="oa-tenth-exam" name="oa-tenth-exam" tabindex="35">
                        <option value="sslc">SSLC</option>
                        <option value="cbse">CBSE</option>
                        <option value="icse">ICSE</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Other</label>
                    <input id="oa-tenth-other" type="text" name="oa-tenth-other" tabindex="36">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Name of School</label>
                    <input type="text" name="oa-tenth-school" tabindex="37">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Main Subjects</label>
                    <input type="text" name="oa-tenth-subjects" tabindex="38">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Year of Completion(Period)</label>
                    <input type="text" class="number" maxlength="4" name="oa-tenth-completion" tabindex="39">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Max. Marks</label>
                    <input type="text" class="number" maxlength="4" name="oa-tenth-max-mark" tabindex="40">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Marks Obtained</label>
                    <input type="text" class="number" maxlength="4" name="oa-tenth-marks-obt" tabindex="41">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Percentage</label>
                    <input type="text" class="number" maxlength="3" name="oa-tenth-per" tabindex="42">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>Plus II or Equivalent</h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Name of Examination</label>
                    <select id="oa-twth-exam" name="oa-twth-exam" tabindex="43">
                        <option value="hse">HSE</option>
                        <option value="cbse">CBSE</option>
                        <option value="icse">ICSE</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Other</label>
                    <input id="oa-twth-other" type="text" name="oa-twth-other" tabindex="44">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Name of School</label>
                    <input type="text" name="oa-twth-school" tabindex="45">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Main Subjects</label>
                    <input type="text" name="oa-twth-subjects" tabindex="46">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Year of Completion(Period)</label>
                    <input type="text" class="number" maxlength="4" name="oa-twth-completion" tabindex="47">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Max. Marks</label>
                    <input type="text" class="number" maxlength="4" name="oa-twth-max-mark" tabindex="48">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Marks Obtained</label>
                    <input type="text" class="number" maxlength="4" name="oa-twth-marks-obt" tabindex="49">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Percentage</label>
                    <input type="text" class="number" maxlength="3" name="oa-twth-per" tabindex="50">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>Graduation or Equivalent</h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Name of College</label>
                    <input class="required" type="text" name="oa-grad-college" tabindex="51">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Degree</label>
                    <input class="required" type="text" name="oa-grad" tabindex="52">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Main Subjects</label>
                    <input type="text" name="oa-grad-subjects" tabindex="53">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Board / University</label>
                    <input type="text" name="oa-grad-board" tabindex="54">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Year of Completion(Period)</label>
                    <input type="text" class="number" maxlength="4" name="oa-grad-period" tabindex="55">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Max. Marks</label>
                    <input type="text" class="number" maxlength="4" name="oa-grad-max-mark" tabindex="56">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Marks Obtained</label>
                    <input type="text" class="number" maxlength="4" name="oa-grad-marks-obt" tabindex="57">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Percentage</label>
                    <input type="text" class="number" maxlength="3" name="oa-grad-per" tabindex="58">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>Post Graduation or Equivalent</h4>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Name of College</label>
                    <input type="text" name="oa-pgrad-college" tabindex="59">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Degree</label>
                    <input type="text" name="oa-pgrad" tabindex="60">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Main Subjects</label>
                    <input type="text" name="oa-pgrad-subjects" tabindex="61">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Board / University</label>
                    <input type="text" name="oa-pgrad-board" tabindex="62">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Year of Completion(Period)</label>
                    <input type="text" class="number" maxlength="4" name="oa-pgrad-completion" tabindex="63">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Max. Marks</label>
                    <input type="text" class="number" maxlength="4" name="oa-pgrad-max-mark" tabindex="64">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Marks Obtained</label>
                    <input type="text" class="number" maxlength="4" name="oa-pgrad-marks-obt" tabindex="65">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Percentage</label>
                    <input type="text" class="number" maxlength="3" name="oa-pgrad-per" tabindex="66">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="attention">( Aggregate Marks include marks obtained for all parts of the examination (ie. part I, II and III or all Semesters) ( Marks obtained till date may be entered in case of candidates appearing for their final exams ))</p>
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label>Upload Marksheets</label>
                    <section id="fileUpA" class=" browse">
                        <div class="invisible row">
                            <section class="button col-lg-7 col-md-7 col-sm-7 col-xs-6">
                                <input type="text" name="oa-file-a" class="fName" tabindex="67">
                            </section>
                            <section class="button col-lg-5 col-md-5 col-sm-5 col-xs-6">
                                <span class="getFile oa-btn">Browse</span>
                                <span class="clearFile oa-btn">Clear</span>
                            </section>
                        </div>
                        <input accept=".pdf, .doc, .docx" type="file" class="fileUp fileSize" name="oa-marksheet-a">
                    </section>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label></label>
                    <section id="fileUpB" class=" browse">
                        <div class="invisible row">
                            <section class="button col-lg-7 col-md-7 col-sm-7 col-xs-6">
                                <input type="text" name="oa-file-b" class="fName" tabindex="68">
                            </section>
                            <section class="button col-lg-5 col-md-5 col-sm-5 col-xs-6">
                                <span class="getFile oa-btn">Browse</span>
                                <span class="clearFile oa-btn">Clear</span>
                            </section>
                        </div>
                        <input accept=".pdf, .doc, .docx" type="file" class="fileUp fileSize" name="oa-marksheet-b">
                    </section>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label></label>
                    <section id="fileUpC" class=" browse">
                        <div class="invisible row">
                            <section class="button col-lg-7 col-md-7 col-sm-7 col-xs-6">
                                <input type="text" name="oa-file-c" class="fName" tabindex="69">
                            </section>
                            <section class="button col-lg-5 col-md-5 col-sm-5 col-xs-6">
                                <span class="getFile oa-btn">Browse</span>
                                <span class="clearFile oa-btn">Clear</span>
                            </section>
                        </div>
                        <input accept=".pdf, .doc, .docx" type="file" class="fileUp fileSize" name="oa-marksheet-c">
                    </section>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label></label>
                    <section id="fileUpD" class=" browse">
                        <div class="invisible row">
                            <section class="button col-lg-7 col-md-7 col-sm-7 col-xs-6">
                                <input type="text" name="oa-file-d" class="fName" tabindex="70">
                            </section>
                            <section class="button col-lg-5 col-md-5 col-sm-5 col-xs-6">
                                <span class="getFile oa-btn">Browse</span>
                                <span class="clearFile oa-btn">Clear</span>
                            </section>
                        </div>
                        <input accept=".pdf, .doc, .docx" type="file" class="fileUp fileSize" name="oa-marksheet-d">
                    </section>
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label class="userPhoto" for="user-photo">Upload Photo*<i class="info"></i></label><div class="imgInfo">
      <strong>Information regarding the image upload.</strong>
      <p>The allowed image formats are jpg, jpeg and size should be less than 2MB.</p>     
      <p>The image dimension should be 35mm x 45mm or keep a ratio of 7:9 and resolution may not exceed 1024px.</p>
      <p>Note: Scanned passport size photo @ 300dpi is enough.</p>
   </div>                    <section id="imageUp" class=" browse">
                        <div class="invisible row">
                            <section class="button col-lg-7 col-md-7 col-sm-7 col-xs-6">
                                <input type="text" name="oa-photo" class="fName" tabindex="71">
                            </section>
                            <section class="button col-lg-5 col-md-5 col-sm-5 col-xs-6">
                                <span class="getFile oa-btn">Browse</span>
                                <span class="clearFile oa-btn">Clear</span>
                            </section>
                        </div>
                        <input accept=".jpg, .jpeg" id="userImage" type="file" class="required fileUp fileSize" name="oa-user-photo">
                    </section>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label></label>
                    
                </div>  
            </section>
            <section class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Job Experience</label>
                    <textarea name="oa-job-exp" value="" maxlength="300" tabindex="72"></textarea>
                </div>
            </section>
            <section class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Co-curricular activities</label>
                    <textarea name="oa-co-activities" value="" maxlength="300" tabindex="73"></textarea>
                </div>
            </section>
            <section class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Please explain why you want to do a Management Course</label>
                    <textarea name="oa-expl-why" value="" maxlength="300" tabindex="74"></textarea>
                </div>
            </section>
            <section class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label>Any information regarding your strengths or aptitude or special interests which you would like us to consider for selecting you to the MBA Course</label>
                    <textarea name="oa-spl-interests" value="" maxlength="300" tabindex="75"></textarea>
                </div>
            </section>
            <section class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>I hereby declare that all the information provided in this form are true to the best of my knowledge. I understand that any misrepresentation by me in this application will disqualify my candidature at any point of time.</p>
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Date</label>
                    <input type="text" name="oa-apply-date" class="dp" tabindex="76">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Place</label>
                    <input type="text" name="oa-apply-place" tabindex="77">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>Mode of Payment</label>
                    <select id="oa-mode-payment" name="oa-mode-payment" tabindex="78">
                        <option value="dd">Bank Draft</option>
                        <option selected="true"  value="online">Online Payment</option>
                    </select>
                </div>
                <div id="payment-link" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <label>.</label>
                    <div><a class="oa-btn" target="_blank" href="https://www.onlinesbi.sbi/sbicollect/icollecthome.htm?corpID=860832"><i class="fa fa-credit-card"></i> Pay Online</a></div>
                </div>
            </section>
            <section>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <b class="attention">(Important- After the online payment is successful, please enter your transaction details below and submit the form.)</b>
                </div>
            </section>
            <section class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4>Details of Registration fees</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <label class="tr-label">Transaction Details</label>
                    <input type="text" name="oa-ddno" tabindex="78">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <label>Amount</label>
                    <input type="text" name="oa-amount" tabindex="79">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <label>Date</label>
                    <input type="text" name="oa-dd-date" class="dp" tabindex="80">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <label>Bank</label>
                    <input type="text" name="oa-bank" tabindex="81">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                   <label for="ishuman">Enter Code:</label>
                   <div class="timCaptchaWr"><section><img class="capImg" src="https://tkmim.ac.in/wp-content/uploads/timoa/captcha/1939338373.png"><input type="hidden" value="1939338373" name="isbrain" /></section><a class="reload" href="#" title="Reload"></a><i class="loader"></i></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <label></label>
                   <input class="capTxt required" type="text" name="ishuman" tabindex="82">
                </div>
            </section>
            <section class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <label></label>
                    <input id="regSubmit" type="submit" name="submit" value="Submit Form" class="button" tabindex="83">
                    <div class="tinyLoader"></div>
                </div>
            </section>
        </fieldset>
    </form>
   <div id="regResponse"></div>
<script type="text/javascript">
    (function($){
        $(document).ready(function() {  
        	$( ".dp" ).datepicker({
                changeYear: true,
                minDate: "-5Y",
            });
            $( ".yr" ).datepicker({dateFormat: 'yy',  changeYear: true,  changeMonth: false});
            $('.tinyLoader').hide();
            var ajaxurl = 'https://tkmim.ac.in/wp-admin/admin-ajax.php';
            var zsoptions = {
                url: ajaxurl,
                target:        '#regResponse',
                beforeSubmit:  function(){
                    var res=$('#applyOnline').validate().numberOfInvalids();
                    if(res==0){
                        $(".tinyLoader").show();
                        $('#regResponse').empty();
                        return true;
                        } 
                    else {
                        return false;
                        }
                    },
                success:       function(){
                    $('.tinyLoader').hide();
                },
                data : { action : 'submitTOA' }
            };
            $('#applyOnline').ajaxForm(zsoptions);  
            $(".timCaptchaWr a").on("click", function(){
                $.ajax({ 
                    url: ajaxurl, 
                    data: {action:'timCaptcha'},
                    beforeSend: function(){
                    $('.reload').css('visibility','hidden');
                    $('.loader').css('visibility','visible');
                },  
                success: function(html) {
                    $(".timCaptchaWr section").empty().append(html);
                    $('.loader').css('visibility','hidden');
                    $('.reload').css('visibility','visible');
                    }
                });
            return false;
            }); 
        });
    })(jQuery)
</script>
	</div>
</div>
<div id="stickyAdmission">
    <a href="{% url 'web:admission_information' %}">Admissions 2023</a>
</div>
<div class="main-em-btn">
    <button class="mainbtn"><i class="fa fa-download" aria-hidden="true"></i></i></button>
    <span>
        <button class="mainclosebtn"><i class="fa fa-times" aria-hidden="true"></i></button>
    </span>
    <div class="main-em-lis">
        <ul id="menu-sticky-menu" class="sticky-menu"><li id="menu-item-3691" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3691"><a href="https://tkmim.ac.in/category/newsletters/">Download Newsletters</a></li>
<li id="menu-item-3692" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3692"><a href="https://tkmim.ac.in/brochures-2/">Download Brochures</a></li>
</ul>    </div>
</div>
<!-- SEARCH BUTTON -->

<div class="search-blk">
<button class="search-ico"><i class="fa fa-search" aria-hidden="true"></i></button>

</div>
<div class="search-input">
    <form role="search" method="get" class="search-form" action="https://tkmim.ac.in/">	
        <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" title="Search for:" />	
    </form>
</div>
<!--  -->
<a href="whatsapp://send?phone=918089090419&text=Hi" class="float-wa" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>
<style>
    .red {
        color: rgb(220, 0, 0);
    }
</style>

{% endblock content %}
